.wrap_post {
    border: 1px solid black;
    text-align: center;
    background: #e3dfdf;
    padding: 20px;
    margin-bottom: 20px;
}

.wrap-comments {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-comments {
    width: 24%;
    border: 1px solid black;
    margin-bottom: 10px;
    background: antiquewhite;
}